<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Chase Nairn-Howard"/>
    <meta name="description" content="
    A portfolio website containing work and notable experiences 
    completed by Chase Nairn-Howard.
    "/>
    <title>Chase's Portfolio</title>

    <link rel="icon" href="/public/images/coffee.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    {{{navbar}}}
    {{{body}}}
    {{{footer}}}
</body>