<h1>My Projects</h1>

<div class="projects_container">
    {{#each project}}
        <div class="project">
            <h3>{{{this.title}}}</h3>
            <img src="{{{this.image}}}"/>
            <p>{{{this.desc}}}</p>
        </div>
    {{else}}
        <p>Not detecting any projects!</p>
    {{/each}}
</div>